<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/style/iCheck/custom.css" />
    <link rel="stylesheet" href="assets/style/vex/vex.css" />
    <link rel="stylesheet" href="assets/style/vex/vex-theme-flat-attack.css" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        window.webpackManifest = {"0":"js/vendor.a59db2fc7d1d1ae92a56.js","1":"js/app.34f61c288368c77fd3c9.js"}
    </script>
</head>
<body>
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object-one" id="object_one"></div>
                <div class="object-two" id="object_two"></div>
                <div class="object-three" id="object_three"></div>
                <div class="object-four" id="object_four"></div>
            </div>
        </div>
    </div>
    <div id="app"></div>
</body>
</html>