$theme-color:#33baff;
.page{
    border-radius: 5px;
    box-shadow: 0 0 1px 1px $theme-color;
    height: 160px;
    margin-top: 20px;
}

.page{
    .info-thumb{
        height: 160px;
        width:160px;
        float: left;
    }
    .info-title{
        font-size: 1.4em;
    }
    .info-img{
        height: 140px;
        margin: 9px;
        border:1px solid #33baff;
        border-radius: 5px;
    }
    .info-intro{
        max-width: 540px;
        height: 100px;
        overflow: hidden;
        font-size: 1.0em;
    }
    .info-content{
        float:left;
        margin: 9px;
    }
    .info-date{
        float: left;
        color:$theme-color;
    }
    .info-date >i{
        margin-right: 10px;
    }
    .info-read{
        float:right;
        color:orange;
        margin-right: 20px;
    }
    .info-read >i{
        color:$theme-color;
        margin-right: 10px;
    }
    .info-into{
        float:right;
    }
    .info-into >a:hover{
        color:orange;
    }
}
.body-small{
    .info-thumb{
       display: none;
    }
}